{%extends 'base.html' %}
{% block content %}
<section class="main">
    <div class="main-top">
        <h1>Mijozlar</h1>
    </div>
    <section class="attendance">
        <div class="attendance-list">
            <div class="searchForm">
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="search" class="search" name="q" placeholder="Qidirish" />
                    <button class="search-btn" type="submit"> <i class="fa fa-search"></i> Qidirish</button>
                </form>
            </div>
            <a href="{% url 'addClient' %}" class="add-btn"> <i class='fas fa-plus'></i> Qo'shish</a>
            {% if clients %}
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>F.I.O</th>
                        <th>Tug'ilgan kuni</th>
                        <th>Telefon raqami</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{client.id}}</td>
                        <td>{{client.lastname}} {{client.firstname}} {{client.patronym}}</td>
                        <td>{{client.birthday | date:"Y-m-d"}}</td>
                        <td>{{client.phoneNumber}}</td>
                        <td>
                            <button>Shaxsiy kabinet</button>
                            <button>O'zgartirish</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>    
            </table>
            {% else %}
            <h1> Ma'lumot topilmadi!!! </h1>
            
            {% endif %}
            <div class="pagination_section">
                {% if clients.has_other_pages %}
                    {% if clients.has_previous %}
                        <a href="?page={{ clients.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% for i in clients.paginator.page_range %}
                        {% if clients.number == i %}
                            <a href="" class="active">{{ i }}</a>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if clients.has_next %}
                        <a href="?page={{ clients.next_page_number }}">&raquo;</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="clr"></div>
        </div>
    </section>
</section>
{% endblock %}
