{%extends 'base.html' %}
{% block content %}
<section class="main">
    <div class="main-top">
        <h1>Muolajalar</h1>
    </div>
    <section class="attendance">
        <div class="attendance-list">
            <div class="searchForm">
                <form action="#" method="post">
                    {% csrf_token %}
                    <input type="search" class="search" name = "q" placeholder="Qidirish" />
                    <button class="search-btn" type="submit"> <i class="fa fa-search"></i> Qidirish</button>
                </form>
            </div>
            <a href="{% url 'addTreatment' %}" class="add-btn"> <i class='fas fa-plus'></i> Qo'shish</a>
            {% if treatments %}
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nomi</th>
                        <th>Narxi</th>
                        <th>Izoh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for treatment in treatments %}
                    <tr>
                        <td>{{treatment.id}}</td>
                        <td>{{treatment.name}}</td>
                        <td>{{treatment.price}}</td>
                        <td>{{treatment.description}}</td>
                        <td>
                            <button>O'zgartirish</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h1> Ma'lumot topilmadi!!! </h1>
            {% endif %}
            <div class="pagination_section">
                {% if treatments.has_other_pages %}
                    {% if treatments.has_previous %}
                        <a href="?page={{ treatments.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% for i in treatments.paginator.page_range %}
                        {% if treatments.number == i %}
                            <a href="" class="active">{{ i }}</a>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if treatments.has_next %}
                        <a href="?page={{ treatments.next_page_number }}">&raquo;</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="clr"></div>
        </div>
    </section>
</section>
{% endblock %}
